@font-face {
  font-family: "DotMatrix";
  src: url("/webclient/DotMatrix.ttf");
}
@font-face {
  font-family: "DotMatrix-Square";
  src: url("/webclient/DotMatrix-Square-v2.ttf");
}
#map {
  position: relative;
  
  background-color: #000;
  height: 860px;
  width: 1854px;
  max-width: 100%;
  font-family: 'DotMatrix-Square', 'Source Sans Pro', sans-serif;
  margin: auto;
  overflow-x: auto;
  overflow-y: hidden;
}
#mapImage {
  position: absolute;
  width: 100%;
  min-width: 1854px;
  top: 0px;
  left: 0px;
  
  z-index: 0;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.motd {
  position: absolute;
  
  left: 100px;
  top: 10px;
  width: 650px;
  height: 50px;

  color: #090;
  background-color: #000;
  font-family: sans-serif;
  font-size: 16px;
  
  border: solid 1px #FFF;
}
p.motd {
  position: initial;
  background-color: transparent;
  border: none;
  width: 646px;
  height: 46px;
  margin: 2px;
  overflow-y: scroll;
}
@keyframes error {
    30% {background-color: #300;}
    50% {background-color: #900;}
    70% {background-color: #300;}
}
.clock {
  position: absolute;
  
  left: 780px;
  top: 10px;
  width: 280px;
  height: 50px;

  color: #090;
  background-color: #404040;
  font-family: 'DotMatrix', 'Source Sans Pro', sans-serif;
  font-size: 45px;
  text-align: center;
  white-space: nowrap;
}
p.clock {
  position: initial;
  background-color: transparent;
  padding: 5px 6px;
  width: 270px;
  height: 38px;
}
.berth {
  position: absolute;

  color: #090;
  background-color: #404040;

  height: 16px;
  width: 48px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  vertical-align: baseline;
  line-height: 1;
  font-size: 16px;
  z-index: 10;
}
a.berth:hover {
  opacity: 1;
  background-color: #404040;
}
p.berth {
  position: initial;
  
  background-color: transparent;
  text-align: center;
  padding: 0px 1px;
  width: 48px;
  height: 16px;
  z-index: 10;
}
.berthBorder {
  background-color: #000;
  background-image: url('/webclient/images/berthBorder.png');
}
p.berthBorder {
  background-color: transparent;
}
.text {
  position: absolute;
  background: rgba(0,0,0,0.65);
  color: #090;
  text-align: center;
  white-space: pre;
  line-height: 9px;
  font-size: 8px;
  z-index: 8;
}
.textLarge {
  position: absolute;
  background: transparent;
  color: #090;
  text-align: center;
  white-space: pre;
  line-height: 17px;
  font-size: 16px;
  z-index: 8;
}
.station {
  position: absolute;
  background-color: #000;
  color: #090;
  height: 8px;
  width: auto;
  text-align: center;
  white-space: pre;
  line-height: 1;
  font-size: 8px;
  z-index: 8;
}
.stationLarge {
  position: absolute;
  background-color: #000;
  color: #090;
  height: 16px;
  width: auto;
  text-align: center;
  white-space: pre;
  line-height: 1;
  font-size: 16px;
  z-index: 8;
}
.navButton {
  position: absolute;
  background-color: #000;
  color: #090;
  height: 16px;
  width: auto;
  text-align: center;
  white-space: pre;
  line-height: 1;
  font-size: 16px;
  z-index: 8;
}
.signal {
  position: absolute;
  white-space: nowrap;
  background-color: rgba(0,0,0,0.25);
  color: #FFF;
  height: 8px;
  width: 14px;
  z-index: 6;
}
.verticalPost {
  height: 14px;
  width: 8px;
}
.noPost {
  height: 8px;
  width: 8px;
}

.points
{
  position: absolute;
  color: #000;
  background-color: rgba(0,0,0,0);
  width: 16px;
  height: 16px;
  background-image: url('/webclient/images/blank.png');
  z-index: 4;
}

.textOn {
  position: absolute;
  color: #090;
  background-color: rgba(0,0,0,0.25);
  text-align: center;
  white-space: pre;
  line-height: 1;
  font-size: 8px;
  height: 8px;
  width: auto;
}
.textPlatOn {
  position: absolute;
  color: #090;
  background-color: rgba(0,0,0,0.65);
  text-align: center;
  white-space: pre;
  line-height: 1;
  font-size: 8px;
  height: 8px;
  width: auto;
}
.textHide {
  position: absolute;
  color: #222;
  background-color: 'transparent';
  text-align: center;
  white-space: pre;
  line-height: 1;
  font-size: 8px;
  height: 8px;
  width: auto;
}
.textOff {
  position: absolute;
  color: 'transparent';
  background-color: 'transparent';
  text-align: center;
  white-space: pre;
  line-height: 1;
  font-size: 8px;
  height: 8px;
  width: auto;
}
.tcOcc {
  position: absolute;
  background-color: #900;
}
.tcUnocc {
  position: absolute;
  background-color: #404040;
}
.trackc {
  position: absolute;
  z-index: 2;
}

#obscure {
  z-index: 50;
  position: absolute;
  display: inline-flex;
  background: rgba(0,0,0,0.75);
  width: 1854px;
  height: 860px;
  line-height: 110px;
  font-family: 'DotMatrix', 'Source Sans Pro', sans-serif;
}
#loading {
  color: #090;
  margin: auto;
  vertical-align: middle;
  width: 600px;
  height: 110px;
  background-color: #FFF;
  border-radius: 10px;
  border: 2px solid #FFF;
}
#compatText {
  font-size: 16px;
  font-family: Arial;
  color: black;
  line-height: 20px;
}
#loadText {
  color: #090;
  display: block;
  margin-left: 110px;
  text-align: left;
  font-size: 60px;
}
#spinner {
  display: block;
  margin: 5px;
  background-color: rgba(0,0,0,0);
  float: left;
  width: 100px;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-moz-keyframes spin { 
  100% { -moz-transform:rotate(360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform:rotate(360deg); }
}
@keyframes spin {
  100% { -webkit-transform:rotate(360deg); transform:rotate(360deg); }
}